{% extends "base.html" %}

{% block content %}
<h1 class = "home">Nora <br>Shaipi</h1>
<h2> CS and Mathematics @ Lafayette College</h2>
<img class = "cat" src = "static/images/cat.jpg" alt = "cat">
<img class = "glasses" src="static/images/glasses.jpeg" alt="glasses">
<img class = "mirror" src = "static/images/mirror.jpeg" alt = "mirror">
<img class = "penguin" src="static/images/penguin.jpeg" alt="penguin">
<div class = "hometext"> <p>Hey there! My name is Nora and I’m a <br>
    CS and Math student at Lafayette <br>
    College! <br><br>
    
    Currently, I’m a Teaching Assistant for <br>
    Introduction to Computer Science. <br> <br>
    
    I’m a passionate and hardworking<br>
    student looking to break into the <br>
    workforce! 
    </p>
</div>
<img class = "chevrondown" src = "static/images/Chevron Down.png">
{% endblock %}
